/// SIZE SCALE
$size-scale: (
  '1': 'var(--size-fluid-1)',
  '2': 'var(--size-fluid-2)',
  '3': 'var(--size-fluid-3)',
  '4': 'var(--size-fluid-4)',
  '5': 'var(--size-fluid-5)'
);

$size-scale-fonts: (
  '0': 'var(--font-size-fluid-0)',
  '1': 'var(--font-size-fluid-1)',
  '2': 'var(--font-size-fluid-2)',
  '3': 'var(--font-size-fluid-3)'
);
/// COLORS
/// Colors are shared between backgrounds and text by default.
/// You can also use them to power borders, fills or shadows, for example.
///
$colors: (
  'dark': #1a1a1a,
  'light': #f3f3f3
);

$gorko-config: (
  'css-vars': (
    'color': $colors,
    'weight': (
      'bold': 700,
      'black': 900
    )
  ),
  'color': (
    'items': 'color',
    'css-vars': true,
    'output': 'standard',
    'property': 'color'
  ),
  'box': (
    'items': (
      'block': 'block',
      'hidden': 'none',
      'show': 'inherit'
    ),
    'output': 'responsive',
    'property': 'display'
  ),
  'hidden': (
    'items': (
      'yes': 'none',
      'no': 'revert'
    ),
    'output': 'responsive',
    'property': 'display'
  ),
  /// Outside Space
  // TODO: is this needed if stack is react component?
  'gutter':
    (
      'items': $size-scale,
      'output': 'standard',
      'property': '--gutter'
    ),
  'stack-gap': (
    'items': $size-scale,
    'output': 'standard',
    'property': '--stack-gap'
  ),
  'gap-top': (
    'items': $size-scale,
    'output': 'standard',
    'property': 'margin-top'
  ),
  'gap-bottom': (
    'items': $size-scale,
    'output': 'standard',
    'property': 'margin-bottom'
  ),
  'gap-inline': (
    'items':
      map-merge(
        $size-scale,
        (
          'auto': 'auto'
        )
      ),
    'output': 'standard',
    'property': 'margin-inline'
  ),
  // gap-block? probably you need stack
  // INSIDE SPACING
  'pad':
    (
      'items': $size-scale,
      'output': 'standard',
      'property': 'padding'
    ),
  'pad-block': (
    'items': $size-scale,
    'output': 'standard',
    'property': 'padding-block'
  ),
  'pad-inline': (
    'items': $size-scale,
    'output': 'standard',
    'property': 'padding-inline'
  ),

  // TYPOGRAPHY
  'font':
    (
      'items': (
        'primary': 'var(--font-primary)',
        'secondary': 'var(--font-secondary)'
      ),
      'output': 'standard',
      'property': 'font-family'
    ),
  'text': (
    'items': $size-scale-fonts,
    // because scale is responsive
    'output': 'standard',
    'property': 'font-size'
  ),
  'leading': (
    // TODO: this is probably off
    'items':
      (
        'flat': '1.2',
        'short': '1.35',
        'regular': '1.7'
      ),
    'output': 'standard',
    'property': 'line-height'
  ),
  'measure': (
    'items': (
      'micro': '10ch',
      'compact': '30ch',
      'short': '40ch',
      'long': '70ch'
    ),
    'output': 'standard',
    'property': 'max-width'
  ),
  'ta': (
    'items': (
      'center': 'center',
      'left': 'left',
      'right': 'right'
    ),
    'output': 'standard',
    'property': 'text-align'
  ),
  'tt': (
    'items': (
      'upper': 'uppercase'
    ),
    'output': 'standard',
    'property': 'text-transform'
  ),
  'width': (
    'items': (
      'full': '100%',
      'half': '50%',
      'quarter': '25%',
      'third': '33.3333333333%'
    ),
    'output': 'responsive',
    'property': 'width'
  ),
  'breakpoints': (
    // 'xs': '(min-width: 36em)',
    'sm': '(min-width: 48em)',
    'md': '(min-width: 62em)',
    'lg': '(min-width: 75em)',
    'xl': '(min-width: 90em)'
  )
);
